<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${book.title + ', ' + book.author +', '+ book.year}">Value</p>

<div th:if="${owner}">
    <span>Книга сейчас у: </span> <span th:text="${owner.fullName}">Person name</span>

    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.id})}">
        <input type="submit" value="Освободить книгу">
    </form>
</div>

<div th:if="${people}">
    <span>Эта книга свободна. Кому назначить ее?</span>
    <form th:method="PATCH" th:action="@{/books/{id}/assign (id=${book.id})}">
        <label for="person">Выберите человека</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person :${people}" th:value="${person.id}" th:text="${person.fullName}">
            </option>
        </select>
        <input type="submit" value="Назначить книгу">
    </form>
</div>
<hr/>
<form th:method="GET" th:action="@{/books/{id}/edit (id=${book.id})}">
    <input type="submit" value="Редактировать">
</form>

<form th:method="DELETE" th:action="@{/books/{id} (id=${book.id})}">
    <input type="submit" value="Удалить">
</form>
</body>
</html>