<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:constructor-arg="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="musicBean"
          class="az.babayev.springcourse.ClassicalMusic">
    </bean>

<!--    <bean id="musicPlayer"-->
<!--          class="az.babayev.springcourse.MusicPlayer">-->
<!--        <property name="music" ref="musicBean"/>-->
<!--        <property name="name" value="Some name"/>-->
<!--        <property name="volume" value="50"/>-->
<!--    </bean>-->

    <bean id="musicPlayer"
          class="az.babayev.springcourse.MusicPlayer">
        <property name="music" ref="musicBean"/>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>


<!--     RockMusic beani-na deyişmək üçün sadəcə olaraq ClassicalMusic-i -> RockMusic edirik. -->
<!--     Başqa heç bir yerdə kod dəyişikliyi olmur-->

<!--    -->
<!--    <bean id="musicBean"-->
<!--          class="az.babayev.springcourse.RockMusic">-->
<!--    </bean>-->



</beans>